[MASTER]
# Ignoruje folder z wirtualnym środowiskiem i danymi
ignore=.venv, models

[MESSAGES CONTROL]
# E1101: Niezbędne dla TensorFlow/NumPy (biblioteki C++)
# R0913: Too many arguments
# R0914: Too many local variables
# R0903: Too few public methods
disable=E1101, R0913, R0914, R0903

[FORMAT]
# Zwiększa limit długości linii do 120
max-line-length=120

[BASIC]
# Pozwala na krótkie nazwy zmiennych typowe dla Data Science
good-names=i,j,k,ex,Run,_,fp,X,y,df,f,sr,id,n_fft,n_mfcc,X_test,X_train,X_validation